*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
body {
  background-color: #449a0a;
  line-height: 1.6;
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.btn-container {
  text-align: center;
  margin: 20px 0;
}

#btnTema, 
#btnSapa {
  padding: 10px 18px;
  margin: 5px;
  border: none;
  cursor: pointer;
  background-color: #94e01b;
  color: rgb(247, 240, 240);
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.3s;
}

#btnTema:hover,
#btnSapa:hover {
  background-color: #c2e189;
}

#greeting {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;

}
header {
  display: flex;                          
  justify-content: space-between;         
  align-items: center;
  background-color: #94e01b;
;
  color: white;
  padding: 15px 40px;
}

header h1 {
  font-size: 1.8em;
}

nav ul {
  display: flex;                          
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #C6F6D5;
}

footer {
  display: flex;                         
  justify-content: space-between;
  align-items: center;
  background-color: #4b6035;
  color: rgb(12, 12, 12);
  padding: 15px 40px;
  margin-top: 40px;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: #8991e;
  text-decoration: none;
}


main {
  display: grid;                         
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  background-color: #b5e189;
  padding: 30px 40px;
}

aside {
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(109, 27, 27, 0.1);
}

aside img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.grid-keahlian {
  display: grid;                           
  grid-template-columns: repeat(3, 1fr);   
  gap: 15px;
  margin-top: 15px;
}

.item {
  background-color: #94e01b;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  font-weight: 500;
}


h2 {
  color: #94e01b;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
}

ul {
  margin-left: 20px;
  line-height: 1.8;
}

a {
  color: #94e01b;
}


@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;            
  }

  header, footer {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  main{
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    gap: 30px;
  }

  body{
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  main {
    grid-template-columns: 1fr 2.5fr;
    gap: 40px;
  }
  
  section, aside {
    padding: 30px;
  }

  body {
    font-size: 1.15rem;
  }
}

